<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Home - S3 Browser{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to S3 Browser</h1>
  {% if user %}
    <p class="lead">You are logged in as {{ user.email }}.</p>
    <hr class="my-4">
    <p>Manage your S3 buckets and objects.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('list_buckets') }}" role="button">View Buckets</a>
  {% else %}
    <p class="lead">Please login to access S3 features.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
  {% endif %}
</div>
{% endblock %}
